@model IEnumerable<Product>
<a asp-action="Create">Create</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
             <th scope="col">CreatedAt</th>
            <th scope="col">UpdatedAt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product p in Model)
        {
            <tr>
                <td>@p.ProductId</td>
                <td>@p.Name</td>
                <td>@p.Price</td>
                <td>@p.Category.CategoryId</td>
                <td>@p.CreatedAt</td>
                <td>@p.LastUpdatedAt</td>
                <td>
                    <img src="~/@p.Image" width="100"/>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@p.ProductId">Edit</a>
                </td>
            </tr>
        }

       
    </tbody>
</table>